<a href="https://colab.research.google.com/github/ganeshinbox07/pythonpro/blob/main/python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Ganesh")

Ganesh

In [ ]:
print("thet was a new technique")

thet was a new technique

In [ ]:
print(10+10)

20

In [ ]:
a=20
print("thr value is $",a)

thr value is $ 20

In [ ]:
a=20
print("thr value is $",a,sep="")

thr value is $20

In [ ]:
a=20
print("thr value is $",a,sep="     ")

thr value is $     20

In [ ]:
storage=258
print("the mobile phone sorage is",      storage,"gb")

the mobile phone sorage is 258 gb

In [ ]:
storage=258
print("the mobile phone sorage is",     storage,"gb",sep="")

the mobile phone sorage is258gb

In [ ]:
bill=900
price=bill/2
print("the mobile cost is $",price,sep="")

the mobile cost is $450.0

In [ ]:
type(price)

float

In [ ]:
bill=900
price=bill//2
print("the mobile cost is $",price,sep="")

the mobile cost is $450

In [ ]:
print(1000/2)
print(1000//2)

500.0
500

In [ ]:
print(5/2)
print(5//2)
# round amount to show do this  //

2.5
2

In [ ]:
#the quize question
a = 30
b = 8
c = a/b
print("a is of type",type(a), "and c is of type", type(c) )

In [ ]:
a=4.5
b=int(a)
type(b)

int

In [ ]:
a="Hi"
b=int(a)
type(b)

ValueError: ignored

In [ ]:
a=10
b=str(a)
type(b)

str

In [ ]:
price=900
disprice=900*0.045
phoneprice=price-disprice
print("the discounted price is",phoneprice)

the discounted price is 859.5

In [ ]:
price=900
disprice=900*0.045
phoneprice=price-disprice
print("the discounted price is"+str(phoneprice))

the discounted price is859.5

In [ ]:
type(disprice)

float

In [ ]:
type(phoneprice)

float

In [ ]:
# explicit type conversion
brand="apple"
ram=8
print(brand+" "+str(ram)+"gb")

apple 8gb

In [ ]:
print(brand+str(ram)+"gb")

apple8gb

In [ ]:
print(brand+str(ram),"gb")

apple8 gb

In [ ]:
type(ram)

int

In [ ]:
r=10
b=str(r)
type(b)

str

In [ ]:
type(r)

int

# list

In [ ]:
brand_list=["apple","samsung","lg","apple"]
tuple=("apple","samsung","lg","apple")
print(tuple)

('apple', 'samsung', 'lg', 'apple')

In [ ]:
set={"apple","samsung","lg","apple"}
print(set)

{'samsung', 'apple', 'lg'}

In [ ]:
brand_list=["apple","samsung","lg","apple"]
ram_list=[8,12,4,6]
storage_list=[256,256,64,128]
price_list=[900,899,600,800]

In [ ]:
print(ram_list[2])
print(ram_list[-1])
print(ram_list[-3])
print(ram_list[1:-1])
print(ram_list[0:3])
print(ram_list[0::3])
print(ram_list[-3:-1])
print(ram_list[-1:-3])

4
6
12
[12, 4]
[8, 12, 4]
[8, 6]
[12, 4]
[]

In [ ]:
ex_list=[1,2,3,4,5,6,7,8,9]
# 6 th index number reoved
print(ex_list.pop(6))

7

In [ ]:
ex_list.append(7)
# last index added
print(ex_list)

[1, 2, 3, 4, 5, 6, 8, 9, 7]

In [ ]:
 ex_list.pop()
 # last number only removed
 print(ex_list)

[1, 2, 3, 4, 5, 6, 8, 9]

In [ ]:
brand_list.append("motorola")
print(brand_list)

['apple', 'samsung', 'lg', 'apple', 'motorola']

#      quize quetions

In [ ]:
# quize question
X= [10,"Range", "Great", -54, 11, 12]
print(X[1])

Range

In [ ]:
X= [10,"Range", "Great", -54, 11, 12]
print(len(X[2:4]))

2

In [ ]:
X= [10,"Range", "Great", -54, 11, 12]
print(X[2:-1])

['Great', -54, 11]

In [ ]:
X= [10,"Range", "Great", -54, 11, 12]
print(X[-2:-1])

[11]

In [ ]:
# tuple
store=(5,6,54,89,74,85,96)
print(store[2])

54

In [ ]:
store[1]=100     # the tuple values can't be changeable. it called immutable
print(store)

TypeError: ignored

In [ ]:
# quize question
X=(20,23,-50,5.6,98)
X.pop(2)
print(X)

AttributeError: ignored

In [ ]:
# dictionary
attributes={"brand":"apple","ram":4,"storage":128,"price":800}
print(attributes)

{'brand': 'apple', 'ram': 4, 'storage': 128, 'price': 800}

In [ ]:
print(attributes["price"])

800

In [ ]:
[] - indicate the index

In [ ]:
attributes["price"]=1000
print(attributes)

{'brand': 'apple', 'ram': 4, 'storage': 128, 'price': 1000}

In [ ]:
brand={"brand":brand_list,"ram":ram_list,"storage":storage_list,"price":price_list}
print(brand)

{'brand': ['apple', 'samsung', 'lg', 'apple'], 'ram': [8, 12, 4, 6], 'storage': [256, 256, 64, 128], 'price': [900, 899, 600, 800]}

In [ ]:
keys=brand.keys()
print("the brand keys are:\n",keys)
values=brand.values()
print("the brand values are:\n",values)

the brand keys are:
 dict_keys(['brand', 'ram', 'storage', 'price'])
the brand values are:
 dict_values([['apple', 'samsung', 'lg', 'apple'], [8, 12, 4, 6], [256, 256, 64, 128], [900, 899, 600, 800]])

In [ ]:
brand["ram"][2]

4

In [ ]:
brand["ram"][1:3]

[12, 4]

In [ ]:
#quize question
dictionary={1:"USA", 2:"India", 3:"China"}
dictionary.update({3:"Japan"})
print(dictionary)

{1: 'USA', 2: 'India', 3: 'Japan'}

In [ ]:
dictionary={1:"USA", 2:"India", 3:"China"}
dictionary.pop(2)  # () - it's not indicate the index value it's indicate the 2 nd value
print(dictionary)

{1: 'USA', 3: 'China'}

In [ ]:
dictionary={1:"USA", 2:"India", 3:"China"}
dictionary.pop[2]
print(dictionary)

TypeError: ignored

In [ ]:
a = b = TRUE
if (a == b):
  print("Hello")
else:
  print("Well done")

NameError: ignored

In [ ]:
if 4 + 3 == 9:
 print("The addition of 4 and 3 is correct")
else:
 print("The addition of 4 and 3 is not correct")
print("Hello")

The addition of 4 and 3 is not correct
Hello

In [ ]:
# for loop
print(range(6))

range(0, 6)

In [ ]:
print(list(range(6)))

[0, 1, 2, 3, 4, 5]

In [ ]:
print(list(range(2,10)))

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(list(range(2,10,2)))

[2, 4, 6, 8]

In [ ]:
print(list(range(2,10,-1)))

[]

In [ ]:
print(list(range(20,10,-1)))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]

In [ ]:
print(list(range(20,10,-2)))

[20, 18, 16, 14, 12]

In [ ]:
print(list(range(2,10,3)))

[2, 5, 8]

In [ ]:
price=900
for i in range(5,21,5):
  dis=price*(i/100)
  dis_price=price-dis
  print("the value",i,"percent of the discount price is",dis_price)

the value 5 percent of the discount price is 855.0
the value 10 percent of the discount price is 810.0
the value 15 percent of the discount price is 765.0
the value 20 percent of the discount price is 720.0

In [ ]:

dis=price*(i/100)
dis

180.0

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
print(list(range(6)))

[0, 1, 2, 3, 4, 5]

In [ ]:
x = [1, 2, 3, 4, 5]
while x:
  print(x.pop(0))

1
2
3
4
5

In [ ]:
x = [1, 2, 3, 4, 5]
while x:
  print(x.pop(0))
  print(x)

1
[2, 3, 4, 5]
2
[3, 4, 5]
3
[4, 5]
4
[5]
5
[]

In [3]:
dis_price_list=[]
price=[600,800,100,500]
for x in price:
  dis_price=x-(x*(5/100))
  dis_price_list.append(dis_price)
print(dis_price_list)

[570.0, 760.0, 95.0, 475.0]

In [7]:

price=[600,800,100,500]
dis_price_list=[x-(x*(5/100)) for x in price]
print(dis_price_list)

[570.0, 760.0, 95.0, 475.0]

In [11]:
a=int(input("enter the budget of phone"))

budget=["yes" if x<=a else "no" for x in dis_price_list]
print(budget)

enter the budget of phone500
['no', 'no', 'yes', 'yes']

In [15]:
budget=[]
for i in dis_price_list:
  if i<=a:
     budget.append("yes")
  else:
    budget.append("no")

print(budget)

['no', 'no', 'yes', 'yes']

In [16]:
# quize question
list_1 = [1, 2, 3, 4, 5]
list_comp = [ i for i in list_1 ]           # i think the one line for loop like as append the numbers
print(list_comp)

[1, 2, 3, 4, 5]

In [17]:
l=[1,2,3,4,5,6]
for i in l:
  print(i)

1
2
3
4
5
6

In [18]:
def brand(name,price,ram,storage):
  print("the mobile name is",name,"price is",price,"ram is",ram,"storage is",storage)

In [20]:
brand("apple",850,8,128)

the mobile name is apple price is 850 ram is 8 storage is 128

In [ ]:
# quize question:

1 st question: function is a block of instructions that performs a specific task.
               Functions break the program into modular chunks which can be reused later.

2 nd question: A function can be defined inside another function in Python.

# true or false

In [21]:
def func(a):
  print(a)
A = [0,1,2,3]
func(A)

[0, 1, 2, 3]

In [22]:
def say(message, times):
    print(message*times)
say("How are you", 2)

How are youHow are you

In [5]:
800*10/100

80.0

In [6]:
def dis_count(dis):
  price=900
  discount_price=price-price*dis/100
  return discount_price

In [7]:
dis_count(5)     # we dont use any print statement

855.0